<h1>Title: <%= @post.title %>, Comment: <%= @comment.content %></h1>
<%= render partial: 'form', locals: { comment: @comment, url: post_comment_path(@post, @comment) } %>
<%= link_to 'Post List', posts_path, class: 'btn btn-primary' %>